.topbar-appBar {
  height: 60;
  justify-content: "center";
}

.toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.sign-out:hover{
  cursor: pointer;
}

.hello-topbar{
  text-decoration: unset;
  font-size: larger;
  font-weight: bolder;
  color: #fafafa;
  transition: 0.1s;
}

